config SHIELD_KEY_LEFT
    def_bool $(shields_list_contains,key_left)

config SHIELD_KEY_RIGHT
    def_bool $(shields_list_contains,key_right)

config SHIELD_KEY_DONGLE
    def_bool $(shields_list_contains,key_dongle)
