if SHIELD_KEY_LEFT

config ZMK_KEYBOARD_NAME
    default "Key"

# Принудительно отключаем любые сплит-функции на уровне ядра
config ZMK_SPLIT
    default n

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif
