#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0

/ {
    keymap {
        compatible = "zmk,keymap";

        // Базовый слой (слой 0)
        base_layer {
            display-name = "Base";
            bindings = <
    &kp ESC   &kp Q &kp W &kp E &kp R &kp T                   &none &none &none &none &none &none
    &kp TAB   &kp A &kp S &kp D &kp F &kp G                   &none &none &none &none &none &none
    &kp LSHFT &kp Z &kp X &kp C &kp V &kp B                   &none &none &none &none &none &none
    &kp LCTRL &kp LGUI &none &kp SPACE &kp BSPC               &none &none &none &none &none
>;
        };
    };
};
