#include "key.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix_transform = &default_transform;
    };

    mock_kscan: kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <>;
    };
};

// Принудительно удаляем физические свойства матрицы, чтобы они не ломали виртуальный донгл
&kscan0 {
    /delete-property/ diode-direction;
    /delete-property/ wakeup-source;
};
