#include "key.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix_transform = &default_transform;
    };

    mock_kscan: kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <>;
    };
};

// Принудительно удаляем параметр диодов, чтобы компилятор не ругался на донгл
&kscan0 {
    /delete-property/ diode-direction;
};
