#include "key.dtsi"

&default_transform {
    col-offset = <6>;   // правая половина начинается с 6-го столбца
};

&kscan0 {
    col-gpios
        = <&pro_micro 8 GPIO_ACTIVE_HIGH>   // столбец 6 (физически 0 на правой)
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>   // столбец 7
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>   // столбец 8
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>   // столбец 9
        , <&pro_micro 0 GPIO_ACTIVE_HIGH>   // столбец 10
        , <&pro_micro 2 GPIO_ACTIVE_HIGH>   // столбец 11
        ;

    row-gpios
        = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // строка 0
        , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // строка 1
        , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // строка 2
        , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // строка 3
        ;
};
